<div class="_3O0U0u">
 <div data-id="MOBFRFXHCKWDAC4A" style="width:100%">
  <div class="_1UoZlX">
   <a class="_31qSD5" href="/apple-iphone-se-black-64-gb/p/itm832dd5963a08d?pid=MOBFRFXHCKWDAC4A&amp;lid=LSTMOBFRFXHCKWDAC4AEQROVZ&amp;marketplace=FLIPKART&amp;srno=s_1_1&amp;otracker=search&amp;otracker1=search&amp;fm=organic&amp;iid=b4150a21-4c3c-4372-9066-9a2e8d78bec7.MOBFRFXHCKWDAC4A.SEARCH&amp;ssid=8xwlvzxoow0000001590399074550&amp;qH=1f3870be274f6c49" rel="noopener noreferrer" target="_blank">
    <div class="_3SQWE6">
     <div class="_1OCn9C">
      <div style="-webkit-filter:grayscale(1);-moz-filter:grayscale(1);-o-filter:grayscale(1);-ms-filter:grayscale(1);filter:grayscale(1);opacity:0.6">
       <div class="_3BTv9X" style="height:200px;width:200px">
        <img alt="Apple iPhone SE (Black, 64 GB)" class="_1Nyybr" src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/placeholder_9951d0.svg"/>
       </div>
      </div>
      <div class="_3aV9Tq">
       <span class="_1GJ2ZM">
        Not Deliverable
       </span>
      </div>
     </div>
     <div class="_2lesQu">
      <div class="_1O_CiZ">
       <span class="_1iHA1p">
        <div class="_2kFyHg">
         <label>
          <input class="_3uUUD5" readonly="" type="checkbox"/>
          <div class="_1p7h2j">
          </div>
         </label>
        </div>
       </span>
       <label class="_10TB-Q">
        <span>
         Add to Compare
        </span>
       </label>
      </div>
     </div>
     <div class="_3gDSOa _32A6AP">
      <div class="DsQ2eg">
       <svg class="_2oLiqr" height="16" viewbox="0 0 20 16" width="16" xmlns="http://www.w3.org/2000/svg">
        <path class="_35Y7Yo" d="M8.695 16.682C4.06 12.382 1 9.536 1 6.065 1 3.219 3.178 1 5.95 1c1.566 0 3.069.746 4.05 1.915C10.981 1.745 12.484 1 14.05 1 16.822 1 19 3.22 19 6.065c0 3.471-3.06 6.316-7.695 10.617L10 17.897l-1.305-1.215z" fill="#2874F0" fill-rule="evenodd" opacity=".9" stroke="#FFF">
        </path>
       </svg>
      </div>
     </div>
    </div>
    <div class="_1-2Iqu row">
     <div class="col col-7-12">
      <div class="_3wU53n">
       Apple iPhone SE (Black, 64 GB)
      </div>
      <div class="niH0FQ">
       <span class="_2_KrJI" id="productRating_LSTMOBFRFXHCKWDAC4AEQROVZ_MOBFRFXHCKWDAC4A_">
        <div class="hGSR34">
         4.8
         <img class="_2lQ_WZ" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="/>
        </div>
       </span>
       <span class="_38sUEc">
        <span>
         <span>
          668 Ratings
         </span>
         <span class="_1VpSqZ">
          &amp;
         </span>
         <span>
          75 Reviews
         </span>
        </span>
       </span>
      </div>
      <div class="_3ULzGw">
       <ul class="vFw0gD">
        <li class="tVe95H">
         64 GB ROM
        </li>
        <li class="tVe95H">
         11.94 cm (4.7 inch) Retina HD Display
        </li>
        <li class="tVe95H">
         12MP Rear Camera | 7MP Front Camera
        </li>
        <li class="tVe95H">
         A13 Bionic Chip with 3rd Gen Neural Engine Processor
        </li>
        <li class="tVe95H">
         Water and Dust Resistant (1 meter for Upto 30 minutes, IP67)
        </li>
        <li class="tVe95H">
         Fast Charge Capable
        </li>
        <li class="tVe95H">
         Wireless charging (Works with Qi Chargers | Qi Chargers are Sold Separately
        </li>
        <li class="tVe95H">
         Brand Warranty for 1 Year
        </li>
       </ul>
      </div>
     </div>
     <div class="col col-5-12 _2o7WAb">
      <div class="_6BWGkk">
       <div class="_1uv9Cb">
        <div class="_1vC4OE _2rQ-NK">
         ₹42,500
        </div>
       </div>
      </div>
      <div class="_3n6o0t">
       <img height="21" src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/fa_8b4b59.png"/>
      </div>
     </div>
    </div>
   </a>
  </div>
 </div>
</div>